body{
  margin: 0 auto;
  text-align: center;
  background-color: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  display: flex;
  flex-flow: rwo wrap;
  justify-content: flex-start;
  padding: 10px 40px;
  margin: 5px;
  background-color: #4d4f53;
  
  
}

.navbar>*{
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  padding: 30px;
}

.navbar>*:hover{
  color: chartreuse;
  
}

.registration-succes-container{
  font-size: 30px;
}

.registration-container {
  
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 5px;
  width: 800px;
 
}

.label-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  
}

.label-container>*{
 
  margin: 2px;
  border-radius: 5px;
  text-align: left;
  
  flex: 1 auto;
}


input {
  height: 80%;
  border: 1px solid #4d4f53;
  padding: 2%;
  font-family: 20px;
  font-weight: 600;
 
}

button{
  padding: 10px;
  margin: 10px;
  width: 15%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: 600;
}

.success-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

.success-container>*{
  padding: 10px;
  border: 2px solid blue;
  margin: 2px ;
}

.success-message1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
}

.success-message2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
}

.logo{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
}
